<div id = post-container>
    <div id = author-name-container>
        <p id = author>{{author}}</p>
    </div>
    <div id = drawing-container onclick="loadPage('comment-page.html',initComment,0)">
        <img src = {{data}}>
    </div>
    <div id = info-container>
        <p id = title>{{title}}</p>
        <span id = thumbs-container>
            <i class = "fa fa-thumbs-up" id = thumbs-up></i>
                <span id = like-count>0</span>
            <i class = "fa fa-thumbs-down" id = thumbs-down></i>
                <span id = dislike-count>0</span>
        </span>
    </div>
</div>
