<div class = main-browse-box>
  <div class = bigger-browse-box>
    <div class = box-for-content-same>
      <h2 class = browse-header-content>  Most Likes: </h2>
          <hr>
          <div class = browse-boxes>

          </div>
        </div>
      </div>

      <div class = bigger-browse-box>
        <div class = box-for-content-same>
          <h2 class = browse-header-content>  Most Dislikes: </h2>
              <hr>
              <div class = browse-boxes>

              </div>
            </div>
          </div>



          <div class = bigger-browse-box>
            <div class = box-for-content-same>
              <h2 class = browse-header-content>  Random: </h2>
                  <hr>
                  <div class = browse-boxes>


                  </div>
                </div>
              </div>
  </div>
