<div id = main-div>
<div class = main-browse-box>
  <div class = bigger-browse-box>
    <div class = box-for-content-same >
      <h2 class = browse-header-content> Most Likes: </h2>
          <hr>
          <div id= most-likes-posts>

          </div>
        </div>
      </div>

      <div class = bigger-browse-box>
        <div class = box-for-content-same>
          <h2 class = browse-header-content> Most Dislikes: </h2>
              <hr>
              <div id= most-dislikes-posts>

              </div>
              </section>
            </div>
          </div>



          <div class = bigger-browse-box>
            <div class = box-for-content-same>
              <h2 class = browse-header-content> Random Posts: </h2>
                  <hr>
                  <div id= random-posts>

                  </div>
                </div>
              </div>
  </div>
</div>
