<div id="main" >
		<div id="pic">
			<div id="pic_box1">
			<img id="pic_img" src={{data}} onclick="showBigPic()"/>
			</div>
			<br />
		</div>
		<div id="txt_main">
			<!--<textarea id="TextArea" rows="13" cols="50"></textarea><br /><br /><br />-->
			<div id="TextArea">
				{{#each text}}
					{{this}}<br/><br/>
				{{/each}}
			</div>
			<br />
			<div id="good_bad">
				<div class="good_bad_box1">
					<img id="good_img" src="good.png" style="height:25px;width:23px" onclick="Good(true)" />
					<lable id="good_count">{{goodRating}}</label>
				</div>
				<div class="good_bad_box2">
					<img id="bad_img" src="bad.png" style="height:25px;width:23px;" onclick="Bad(true)" />
					<lable id="bad_count">{{badRating}}</label>
				</div> 
			</div>
			<div style="min-width:400px;margin-top:30px;">
				<input id="commentator" value="John"/>
				<input id="txt_pl" type="text" />
				<input id="btn_ok" type="submit" value="+"  onclick="comment()"/>&nbsp;&nbsp;&nbsp;
			</div>
		</div>
</div>
<div id="modelDiv" style="background-color: #fbfafd; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);  border-top-left-radius: 10px; border-top-right-radius: 10px; display:none;z-index:10000">
    <div>
		<img id="big_pic_img" src="" />
	</div>
</div>
<div id="cover"></div>