<!-- DO NOT PUT A HEAD,BODY,OR DOCTYPE HTML HERE-->
<!-- EVERYTHING GOES IN THE DIV BELOW,
 IF IT IS AN ELEMENT THAT DOES NOT GO IN A DIV, IT DOESNT BELONG HERE-->

     <div class = box>
     <div class = bigger-box>
     <div class = box-for-content-same>
         <h2 class = dropdown-text> About OSU: </h2>
           <hr>
             <div class = same-boxes>
                 <p class = description>
                     <br> Oregon State University is located in the beautiful city of Corvallis in mid-western Oregon just south
                 of the State capital. OSU is no more than 2 hours away from mountains, the beach, or the city of Portland. Oregon State University is 1 of 2 universities in the United States that has
                 land, sea, space, and sun grants. It was founded in 1868, making this year the 150th anniversary of this prestigious university. </p>
                 <br>
                 </div>
         <div class = image-box>
             <img class = pic src = "./IMG_0079.JPG">
             <br>
             </div>
         </div>
     </div>
     <div class = bigger-box>
     <div class = box-for-content-same>
         <h2 class = dropdown-text> Did you know...</h2>
         <hr>
             <div class=facts>
                 <ul id="bullets">
                     <li> Oregon State University currently has over 32,000 students and is the 3rd largest university in Oregon.</li>
                     <li> In Corvallis, 60.2% of the population has a Bachelors degree equivalent or higher.</li>
                     <li> Many websites list Corvallis in the top 25 most educated cities in America.</li>
                 </ul>
             </div>
             <div class= image-box>
                 <img class = pic src = "./IMG_0080.JPG">
             </div>
         </div>
     </div>
     <div class = bigger-box>
             <div class = box-for-content>
                 <h2 class="dropdown-text">More Photos:</h2>
                  <div class="slideshow-container">
  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img id = "home-image" src="./IMG_0083.JPG" style="width:100%">
    <div class="text">OSU 150</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img id = "home-image" src="./IMG_0085.JPG" style="width:100%">
    <div class="text"> Shepherd Hall</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img id = "home-image" src="./IMG_0082.JPG" style="width:100%">
    <div class="text"> Johnson Hall</div>
  </div>


  <<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>


  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
   </div>
                 </div>
             </div>
         </div>
