<div id = main-div>
    <div id=post-title-div>
        <h2 id = post-title>
            All Posts:
        </h2>
        <hr>
    </div>
    <section id = posts-content>
        {{#each posts}}
            {{> post}}
        {{/each}}
    </section>
</div>
