<div id = main-div>
    <!-- this is the post page. -->
    <!-- <div id = top-bar>
        <button id = add-post-button>Add Post</button>

        <div class = search-container>
            <input id = title-post-input class = title-post type = "text" name = post-title placeholder="Title">
            <button id = search-button>Search</button>
        </div>
    </div>   -->
    <section id = posts-content>
        <!-- the below will be abstracted out by handlebars -->
        <div id = post-container> 
                <div id = author-name-container>
                    <p id = author>Author</p>
                </div>
                <div id = drawing-container>
                    <img src = "https://cnet4.cbsistatic.com/img/xTXdUEQEBqoDx74pbwCcpUc1XFQ=/fit-in/370x0/2017/01/18/c68ae3ac-6795-4d38-91e9-ec3e4fbffd6c/9401078c315052fc72a74b.jpg">
                </div>
                <div id = info-container>
                    <p id = title>Title</p>
                    <span id = thumbs-container>
                        <i class = "fa fa-thumbs-up" id = thumbs></i>
                        <i class = "fa fa-thumbs-down" id = thumbs></i>
                    </span>
                </div>
    </section>
</div>