<div id = main-div>
    <!-- this is the post page. -->
    <!-- <div id = top-bar>
        <button id = add-post-button>Add Post</button>

        <div class = search-container>
            <input id = title-post-input class = title-post type = "text" name = post-title placeholder="Title">
            <button id = search-button>Search</button>
        </div>
    </div>   -->
    <section id = posts-content>
        <!-- the below will be abstracted out by handlebars -->
        {{#each}}
            {{> post}}
        {{/each}}
    </section>
</div>