<header>
    <h1 class = 'site-title'>OSU 150</h1>
    <div class = "nav-list">
        <a id="home-button" loadedpage="home-page.html">Home <i class = "fas fa-home"></i></a>
        <a id="post-button" loadedpage="post-page.html">Post <i class = "fas fa-portrait"></i></a>
        <a id="addpost-button" loadedpage="addpost-page.html">Add Post <i class="fas fa-plus-square"></i></a>
        <a id="browse-button" loadedpage="browse-page.html">Browse <i class="fab fa-readme"></i></a></a>
        <a id="search-button">Search <i class = "fas fa-search"></i></a>
    </div>
</header>

<div id="subpage-holder"> </div>
