.sidebar-option{
    border : 2px solid black;   
}

.post-drawing-container{
    float : left;
}

.post-options-container{
    position : relative;
    float : left;
    border : 2px solid red;
}

.button-container{
    border : 2px solid blue;
}

#darkness-options{
    position : absolute;
    left:230px;
    top:50px;
}

#opacity-options{
    position : absolute;
    left:265px;
    top:50px;
}