.main-browse-box {

  style: block;

  background: black;

}

.bigger-browse-box {

  max-width: 360px;

  margin: 50px;

  display: inline-block;

  align-content: center;

}

.box-for-content-same {

  max-width: 340px;

}

#top-bar {
    background-color: black;
    display: inline-flex;
}
body {
    background-color: #fff0e6;
}
#posts-content{
    display: inline-flex;
    flex-wrap: wrap;
}
#post-container {
    background-color: white;
    margin:  10px;
    box-shadow: 10px 10px 20px grey;
    width: 310px;
    height: auto;
}
#drawing-container {
    display: block;
    width: 300px;
    height: 160px;
}
#info-container {
    padding: 10px;
    background-color: black;
    border-top: 1px solid black;
}
#title{
    display: inline;
    color: #e05f12;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
}
#author{
    float: center;
    font-family: 'Ranga', cursive;
    font-size: 20px;
}
#author-name-container{
    padding:10px;
    text-align: center;
    padding-top: 2px;
}
#title:hover{
    text-decoration: underline;
    text-shadow: 1px 1px 2px black;
    color: orange;
}
#main-div img {
    max-width: 300px;
    max-height: 150px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#thumbs-container{
    position: right;
    color: #e05f12;
    float: right;
    font-size: 20px;
    cursor: context-menu;
}
#thumbs:hover{
    color: orange;
    text-shadow: 1px 1px 2px black;
}
#like-count{
    background: white;
    border: 1px solid #e05f12;
    padding: 3px;
    font-size: 16px;
    color: black;
    font-weight:bold;
    cursor: context-menu;
}
#dislike-count{
    background: white;
    border: 1px solid #e05f12;
    padding: 3px;
    font-size: 16px;
    color: black;
    font-weight:bold;
    font-weight:bold;
    cursor: context-menu;
}
.highlight{
    color: orange;
    font-size: 22px;
}
