body {

  overflow-x: hidden;

}

#author-comment {

  font-family: 'Ranga', cursive;

  font-size: 30px;

  display: inline-block;

  text-align: center;

  cursor: context-menu;

}

.created-by {

  font-family: 'Ranga', cursive;

  font-size: 30px;

  cursor: context-menu;

  display: inline-block;

  margin-left: 120px;

}

#title-for-comment {

  font-size: 50px;

  padding-left: 100px;

  width: 330px;

  cursor: context-menu;

}

#main{
    background-color:white;
    width:90%;
    border: 2px solid #f46b1a;
    height:530px;
    margin:0 auto;
    margin-top:30px;
    width: 1200px;
    border-radius: 1.5%;
    background-color: #fff0e6;
    overflow: hidden;
    margin-bottom: 30px;
}

.comment-title {

  color: black;

  font-size: 50px;

  cursor: context-menu;

  display: inline-block;

  margin-left: 172px;

}


#pic{
    width:45%;
    height:438px;
    float:left;
}

#pic_img{
    width:98%;
    height:98%;
    margin-top:10px;
    float:right;
    cursor: pointer;
}

#txt_main{
    width:47%;
    height:226px;
    margin-top:-10px;
    margin-right:64px;
    float:right;
    padding-top:5px;
    padding-left:5px;
}

.author-for-comment {

  font-size: 22px;

  cursor: context-menu;

  display: inline;

}

#txt_pl{
    height:30px;
    width:361px;

    line-height: 15px;
}

#TextArea{
    height: 200px;
    border:1px gray solid;
    overflow-y:scroll;
    overflow-x:hidden;
    padding:10px;
    margin-top: 4px;
    cursor: context-menu;

}

#btn_ok{
    height:36px;
    width:14%;
    text-align:center;
    font-size:18px;
    color:white;
    background-color:orange;
    border:hidden;
    cursor: pointer;
}

#commentator{
    height:24px;
    width: 160px;
}


#good_bad{
    width:100%;
    height:25px;
    float:left;
    margin-right:10px;
}

#pic_box1{
    height:83%;
    border: 2px solid black;
    padding: 7px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 1%;
}
.good_bad_box1{
    width:25%;
    height:25px;
    font-size: 50px;
    float:left;
    cursor:context-menu;
    margin-top: 8px;

}

.good_bad_box2{
    width:60%;
    height:25px;
    float:left;
    font-size: 50px;
    cursor:context-menu;
    margin-top: 8px;
}

#big_pic_img{
        max-width:84%;
        max-height:93%;
        margin-left:5%;
        margin-top: 10px;
}

#good_img{

cursor: pointer;

height:50px;

width:50px;

margin-bottom: -4px;
}

#bad_img{

cursor: pointer;

height:50px;

width:50px;

margin-bottom: -4px;
}

#cover{
    position:fixed;
    z-index:9999;
    top:0px;
    left:0px;
    display:none;
    width:100%;
    height:100%;
    opacity:0.5;
    background:#000 none repeat scroll 0% 0%;
}
#back-button{
    height: 54px;
    width: 60px;
    background-color: black;
    color: orange;
    font-weight: bold;
    cursor: pointer;
    float: right;
    margin-right: 64px;
}
