body {

  overflow-x: hidden;

}

#author-comment {

  font-family: 'Ranga', cursive;

  font-size: 30px;

  display: inline-block;

  text-align: center;

  cursor: context-menu;

}

.created-by {

  font-family: 'Ranga', cursive;

  font-size: 30px;

  cursor: context-menu;

  display: inline-block;

  margin-left: 120px;

}

#title-for-comment {

  font-size: 50px;

  padding-left: 100px;

  width: 330px;

  cursor: context-menu;

}

#main{
    background-color:white;
    width:90%;
    border: 2px solid #f46b1a;
    height:530px;
    margin:0 auto;
    margin-top:30px;
    width: 1200px;
    border-radius: 1.5%;
    background-color: #fff0e6;
    overflow: hidden;
    margin-bottom: 30px;
}

.comment-title {

  color: black;

  font-size: 50px;

  position: absolute;

  right: 404px;

  top: 320px;

  cursor: context-menu;

}


#pic{
    width:45%;
    height:438px;
    float:left;
}

#pic_img{
    width:98%;
    height:98%;
    margin-top:10px;
    float:right;
    cursor: pointer;
}

#txt_main{
    width:47%;
    height:32%;
    margin-top:-10px;
    margin-right:64px;
    float:right;
    padding-top:5px;
    padding-left:5px;
}

.author-for-comment {

  position: absolute;

  font-size: 22px;

  top: 608px;

  right: 720px;

  cursor: context-menu;

}

#txt_pl{
    height:30px;
    width:361px;
    position: absolute;
    top: 642px;
    right: 423px;
    line-height: 15px;
}

#TextArea{
    height:120%;
    border:1px gray solid;
    overflow-y:scroll;
    overflow-x:hidden;
    padding:10px;
    margin-top: 4px;
    cursor: context-menu;
}

#btn_ok{
    height:36px;
    width:6%;
    text-align:center;
    font-size:18px;
    color:white;
    background-color:orange;
    border:hidden;
    position: absolute;
    top: 642px;
    right: 347px;
    cursor: pointer;
}

#commentator{
    height:24px;
    position: absolute;
    top: 608px;
    width: 160px;
    right: 554px;
}


#good_bad{
    width:100%;
    height:25px;
    float:left;
    margin-right:10px;
}

#pic_box1{
    height:83%;
    border: 2px solid black;
    padding: 7px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 1%;
}
.good_bad_box1{
    width:73%;
    height:25px;
    font-size: 50px;
    float:left;
    cursor:context-menu;
    position: absolute;
    top: 704px;
    right: -332px;
}

.good_bad_box2{
    width:48%;
    height:25px;
    float:left;
    font-size: 50px;
    cursor:context-menu;
    position: absolute;
    top: 707px;
    right: -80px;
}

#big_pic_img{
        max-width:113%;
        max-height:93%;
        margin-left:10%;
}

#good_img{

cursor: pointer;

height:50px;

width:50px;

margin-bottom: -4px;
}

#bad_img{

cursor: pointer;

height:50px;

width:50px;

margin-bottom: -4px;
}

#cover{
    position:fixed;
    z-index:9999;
    top:0px;
    left:0px;
    display:none;
    width:100%;
    height:100%;
    opacity:0.5;
    background:#000 none repeat scroll 0% 0%;
}
#back-button{
    height: 30px;
    width: 60px;
    background-color: black;
    position: absolute;
    top: 321px;
    right: 185px;
    color: orange;
    font-weight: bold;
    cursor: pointer;
}
