#author-comment {

  font-family: 'Ranga', cursive;

  font-size: 30px;

  display: inline-block;

  text-align: center;

}

.created-by {

  font-family: 'Ranga', cursive;

  font-size: 30px;

  display: inline-block;

  margin-left: 40px;

}

#title-for-comment {

  font-size: 50px;

  padding-left: 90px;

  width: 330px;

}

#main{
    background-color:white;
    width:90%;
    border: 2px solid #f46b1a;
    height:530px;
    margin:0 auto;
    margin-top:30px;
    width: 950px;
    border-radius: 1.5%;
    background-color: #fff0e6;
}

.comment-title {

  color: black;

  font-size: 40px;

  margin-left: 150px;

  position: absolute;

  right: -126px;

  top: 374px;

}


#pic{
    width:45%;
    height:438px;
    float:left;
}

#pic_img{
    width:98%;
    height:98%;
    margin-top:10px;
    float:right;
}

#txt_main{
    width:47%;
    height:32%;
    margin-top:-10px;
    margin-right:40px;
    float:right;
    padding-top:5px;
    padding-left:5px;
}

#txt_pl{
    height:30px;
    width:85%;
}

#TextArea{
    height:88%;
    border:1px gray solid;
    overflow:scroll;
    overflow-x:hidden;
    padding:10px;
}

#btn_ok{
    height:36px;
    width:5%;
    text-align:center;
    font-size:18px;
    color:white;
    background-color:orange;
    border:hidden;
}

#commentator{
    height:30px;
    width:5%;
}


#good_bad{
    width:100%;
    height:25px;
    float:left;
    margin-right:10px;
}

#pic_box1{
    height:83%;
    border: 2px solid black;
    padding: 7px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 1%;
}
.good_bad_box1{
    width:12%;
    height:25px;
    float:left;
    cursor:pointer;
}

.good_bad_box2{
    width:12%;
    height:25px;
    float:left;
    cursor:pointer;
}

#big_pic_img{
        max-width:80%;
        max-height:93%;
        margin-left:10%;
}

#good_img{

height:25px;

width:26px;

margin-bottom: -4px;
}

#bad_img{

height:25px;

width:26px;

margin-bottom: -4px;
}

#cover{
    position:fixed;
    z-index:9999;
    top:0px;
    left:0px;
    display:none;
    width:100%;
    height:100%;
    opacity:0.5;
    background:#000 none repeat scroll 0% 0%;
}
#back-button{
    height: 30px;
    width: 60px;
    background-color: black;
    color: orange;
    font-weight: bold;
}