.main-div-box {
    display: block;
    margin: 0px;
    background-color:#fffaf7;
}

.dropdown-for-text {
    text-align: left;
    color: white;
}

.dropdown-text {
    border: none;
    padding: 8px;
    text-align: center;
    font-size: 26px;
    color: white;
    background-color: #e05f12;

}

li {

  padding: 10px;

  margin: 10px;


}

.box {

    background-color: black;
}

#bullets {

  display: inline-block;

  margin: 0px;

  padding: 0px;


}

.dropdown {

    outline: 3px solid #e05f12;

    padding: 10px;

    max-width: 360px;

    margin: 7px 5px 5px 5px;

    display: inline-block;

}

.box-for-content {

    outline: 3px solid #e05f12;

    padding: 10px;

    max-width: 500px;

    margin: 7px 5px 5px 5px;

    display: inline-block;

}

h2 {
    color: white;

}

.description {
    color: white;
    font-size: 18px;
    font-weight: 600;

}

.description:hover {

  cursor: context-menu;

}

.bigger-box {
  display: top-left;

    display: inline-block;


}

.bullets {

  margin: 0px;

  padding: 0px;

  cursor: context-menu;

  display: inline-block;

}

.facts {

  font-weight: 600;

  color: white;

  font-size: 18px;


}

.about-osu-box {

    max-width: 500px;

    display: inline-block;

}

.pic {

    text-align: center;

    height: 250px;

    width: 350px;

}
